@using TechJobs.Models
@model Job

<table class="job-listing">
    <tr>
        @Model.Name
    </tr><br />
    <tr>
        @Model.Employer
    </tr><br />
    <tr>
        @Model.Location
    </tr><br />
    <tr>
        @Model.PositionType
    </tr><br />
    <tr>
        @Model.CoreCompetency
    </tr><br />
</table>